/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2 !important;
} */
.btn-outline-primary{
    color: #fff;
    background-color: #4d504a;
    border-radius: 20px;
}
.btn-outline-primary:hover{
    color: #fff;
}
.navbar{
    z-index: 1000;
}
.footer{
    z-index: 1000;
    height: 5rem;

}
.list-items{
    color: #fff !important;
    /* background-color: #fff; */
}
.list-inline-item{
    text-align: left;

}
